:root {
    --dark-violet: #22092C;
    --dark-red: #872341;
    --red: #BE3144;
    --orange: #F05941;
    --white: #F6F1EE;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Protest Guerrilla', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: var(--white);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-violet);

    display: flex;
    justify-content: center;
}

main {
    width: 700px;
    height: fit-content;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
    gap: 10px;
}

main > section.content {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main > section.content > nav {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

main > section.content > nav a {
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--dark-violet);
    text-decoration: none;
}

main > section.content > nav a:hover {
    background-color: var(--red);
    color: var(--white);
}

main > section.content > div.jogo {
    width: 100%;
    border: 5px solid var(--white);
    padding: 1rem;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
}

main > section.content > div.jogo span {
    width: 60px;
    height: 70px;
    border-radius: 10px;
    font-size: 2rem;
    background-color: var(--red);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

main > section.content > div.teclado {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

main > section.content > div.teclado button {
    min-width: 40px;
    min-height: 40px;
    padding: .5rem;
    background-color: var(--white);
    color: var(--dark-violet);
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
}

main > section.content > div.teclado button:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
}

main > section.content > div.controles {
    width: 100%;
}

main > section.content > div.controles button {
    width: 100%;
    padding: .5rem 0;
    background-color: var(--white);
    color: var(--dark-violet);
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
}

main > section.content > div.controles button:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
}

main > div.chat {
    width: 100%;
    height: 400px;
    background-color: var(--white);
    border-radius: 10px;
    border: 5px solid var(--orange);
    padding: 10px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 5px;
}

main > div.chat > p {
    width: 100%;
    min-height: 30px;
    font-size: 1.3rem;
    color: var(--dark-violet);
    font-weight: 600;
    border-bottom: 2px dotted var(--orange);
}